@{
    ViewData["Title"] = "Home Page";
}

<!--For my 3 bootstrap classes, I created a class called "purple" in the css folder, which I had used in the title. I also researched and implemented the
    commands to make things appear in bold and in italics. The bold I used in the price section of every iteration so that the price column numbers really stand out from the
    rest of the numbers surrounding it like IBSN and number of pages. I used the italics command to make the phrase under it that says
    "here is the info on each of them" italicized. I also experimented a lot more with other classes and made the page navigation button group unique. -->

@model BookListViewModel
<!--Title-->
<div class="purple">
    <h1 class="text-center">Here are Spencer Hilton's top books:</h1>
</div>

<br />

<div class="col-9">
    <!--Image of book rainbow, with padding so that it more or less lines up with the table column colors-->
    <img src="~/img/books.jpg" />
</div>

<br />
<div class="row m-lg-auto p-3">
    <h3><em>Here is the info on each of them:</em></h3>
</div>
<div class="container">
    <div class="col align-self-end">
        Click a button to filter by category
        <!--This is where the category filter is dynamically built-->
        <vc:navigation-menu />

    </div>
    <br />
    <div class="col align-self-center">
        <table style="padding-left:50px" class="text-center">
            <thead style="padding-left:35px" class="text-center">
                <tr style="padding-left:35px" class="text-center">

                    <th>Book ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>ISBN</th>
                    <th>Classification</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th># of Pages</th>
                </tr>
            </thead>
            <!--This goes through the enumeration to get all the inputed values-->
            <tbody style="padding-left:50px" class="text-center">
                @foreach (BookStoreAssignment5.Models.Books b in Model.Books)
                {
                    //This is where the partial view of the books data is stored

                    <partial name="BookStoreSummary" model="b" />
                }
            </tbody>
        </table>
    </div>
</div>
<br />

